// Follow BEM methodology, see: https://en.bem.info/methodology/
// Why? - Makes everything a lot tighter and more connected, making code easier to maintain
// General form: .block{__element[--modifier]}
// .block {}
// .block__element {}
// .block--modifier {}
// Useful links:
// Modified BEM - http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
// https://en.bem.info/methodology/naming-convention/#alternative-naming-schemes
@import "colors";
@import "layout";
@import "mixins";
@import "vars";

.root-layout {
  background-color: colors(main, bg);
  color: colors(main, gray-10);
  display: flex;
  flex-flow: column nowrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12px;
  height: 100%;
  overflow: auto;
  outline: 0;
  position: relative;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  white-space: normal;

  // Reset
  div, embed, canvas, hr, i, img, label, li, object, ol, p, span, strike, strong {
    @include no-padding;
    background: transparent;
    box-sizing: content-box;
    font-size: 100%;
  }

  a {
    color: colors(main, dark);

    &:visited {
      color: colors(main, dark);
    }
    &:hover {
      color: colors(main, primary);
    }
    &:active {
      color: colors(main, primary);
    }
  }

  .input--valid {
    border: none;
  }

  .input--invalid {
    border: 1px solid red;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    background-color: colors(main, gray-80);
    height: 40px;
    line-height: 40px;
    font-size: 1.4em;
  }

  .my-pets {
    padding: $padding-s;

    table {
      table-layout: fixed;
      width: 100%;
    }

    td {
      background-color: colors(main, gray-70);
    }

    td, th {
      padding: $padding-xs;
      margin: 0px;
    }
  }

  .pets-new {
    padding: $padding-s;

    &__input {
      display: flex;
      justify-content: space-between;
    }

    &__submit {
      margin-top: $padding-s;
      text-align: right;
    }
  }

  .pets-success {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 2em;
  }
}
